<!DOCTYPE html>
<html ng-app="nextDashboard">
<head>
    <link rel="stylesheet" type="text/css" href="Content\bootstrap.min.css" />
    <script src="scripts\angular.min.js"> </script>
    <script src="scripts\app\main.js"> </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @RenderBody()
</body>
</html>
