<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

  <variable name="appName" value="DashBoard.API" />
  <extensions>
    <add assembly="LogentriesNLog"/>
  </extensions>
  <targets>
    <target name="console" type="Console" layout="${message}" />
    <target type="File"
              name="file"
              layout="${longdate} - ${level:uppercase=true}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
              fileName="c:\logs\${appName}\Debug.log"
              keepFileOpen="false"
              archiveFileName="c:\logs\${appName}\Debug_${shortdate}.{##}.log"
              archiveNumbering="Sequence"
              archiveEvery="Day"
              maxArchiveFiles="30"
            />
    <target name="logentries" type="Logentries" debug="true" httpPut="false" ssl="false"
    layout="${date:format=ddd MMM dd} ${time:format=HH:mm:ss} ${date:format=zzz yyyy} ${logger} : ${LEVEL}, ${message}"/>
  </targets>
  <rules>
    <logger name="*" minLevel="Info" appendTo="console"/>
    <logger name="*" minLevel="Trace" appendTo="file"/>
    <logger name="*" minLevel="Debug" appendTo="logentries"/>
  </rules>
</nlog>