<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true">

  <variable name="appName" value="NextDashboard" />
  <variable name="loggingPath" value="C:\${appName}\logs\" />
  <targets async="true">
    <target xsi:type="File"
            name="file"
            layout="${longdate} - ${level:uppercase=true}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
            fileName="${loggingPath}\${appName}_Log.log"
            keepFileOpen="false"
            archiveFileName="${loggingPath}\Archive\.{##}.log"
            archiveNumbering="Sequence"
            archiveEvery="Day"
            maxArchiveFiles="30" />
    <target name="udp" xsi:type="Chainsaw" address="udp://127.0.0.1:7071" />

    <target name="console" xsi:type="Console"
             layout="${longdate}|${level}|${message}" />

  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="file" />
    <logger name="*" minlevel="Trace" writeTo="udp" />
    <logger name="*" minlevel="Info" writeTo="console" />
  </rules>
</nlog>