<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true">

  <variable name="appName" value="NextDashboard" />
  <variable name="loggingPath" value="C:\${appName}\logs\" />
  <targets async="true">
    <target xsi:type="File"
            name="file"
            layout="${longdate} - ${level:uppercase=true}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
            fileName="${loggingPath}\${appName}_Log.log"
            keepFileOpen="false"
            archiveFileName="${loggingPath}\Archive\.{##}.log"
            archiveNumbering="Sequence"
            archiveEvery="Day"
            maxArchiveFiles="30"
            />
    <target name="n1" xsi:type="Chainsaw" address="udp://127.0.0.1:7071" />


  </targets>
  
  <rules>
    <logger name="*" writeTo="file" minlevel="Trace" />
    <logger name="*" minlevel="Trace" writeTo="n1" />
  </rules>
</nlog>