<!DOCTYPE html>
<html ng-app="nextDashboard">
<head>
    <link rel="stylesheet" type="text/css" href="/../Content/styles/bootstrap.min.css" />
    <script src="/../Content/scripts/jquery-1.9.0.min.js"></script>
    <script src="/../Content/scripts/jquery.signalR-2.1.2.min.js"></script>
    <script src="signalr/hubs"></script>
    
    <script type="text/javascript">
        $(function () {
            $.connection.hub.url = "http://localhost:9000/signalr";
            var chat = $.connection.myHub;
            $.connection.hub.logging = true;
            $.connection.hub.start().done(function () {
            });
        });
    </script>


    <script src="/../Content/scripts/angular.min.js"> </script>
    <script src="/../Content/scripts/app/main.js"> </script>

    <title>@Model.title</title>
</head>
<body>

    <div class="container" ng-controller="GroupController">
        <h1>Next Dashboard</h1>
        <div class="row" ng-repeat="job in jobs">
            <h3>
                {{job.Name}}
                <em class="pull-right">{{job.Status}}</em>
                <button class="btn btn-primary" ng-click='refresh()'>Refresh</button>
            </h3>
        </div>
    </div>
    
  

</body>
</html>